<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	<div th:text="${message} ?: 'Please upload channels and parameters files'">
		Please upload channels and parameters files
	</div>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr>
					<td>Channels file:</td>
					<td><input type="file" name="channels" /></td>
					<td>*File size limited to 1MB</td>
				</tr>
				<tr>
					<td>Parameters file:</td>
					<td><input type="file" name="parameters" /></td>
					<td>*File size limited to 1MB</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>